<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CV Profile</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>

    <form method="post" th:action="@{/profile}" th:object="${user}">
        <input type="text" id="email" th:field="*{email}" readonly>
        <input type="text" id="login" th:field="*{login}">
        <input type="text" id="password" th:field="*{password}">
        <div class="col-sm-8">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
        <a class="btn btn-outline-primary" href="javascript:history.back()" role="button">Cancel</a>
    </form>

</body>

</html>